.about-info-container {
    align-items:center;
    display:flex;
    height:100%;
    justify-content:center;
    width:50%
    }
    
    .about-marquee {
    background-color:var(--fc-light);
    height:100%;
    max-width:0
    }
    
    .about-me-avater {
    background:url(../assets/Images/jin_.png) no-repeat;
    background-position:bottom 0 left -70px;
    background-size:auto 80%;
    filter:drop-shadow(-10px -4px 4px rgba(0,0,0,0.8));
    transform:scaleX(-1);
    width:50%
    }
    
    .about-me-info {
    background-color:var(--fc-light);
    letter-spacing: 2px;
    line-height: 1.3;
    word-spacing: 3px;
    border:3px solid #000;
    border-radius:10px;
    font-size:1.1rem;
    height:fit-content;
    padding:20px 40px;
    width:280px
    }
    
    .aboutMe-conatiner {
    z-index:0
    }
    
    @media screen and (min-width:800px) and ( max-height: 1024px) {
    .about-me-avater {
    background:url(../assets/Images/jin_woo_swords2.png) no-repeat;
    background-position:bottom 0 right 0;
    background-size:auto 90%
    }
    }
    
    @media screen and (max-width:786px) {
    .about-info-container {
    all:unset
    }
    
    .about-marquee {
    left:50px;
    position:absolute;
    top:50px;
    z-index:-10
    }
    
    .about-me-avater {
    background-position:bottom 0 right -180px;
    background-size:calc(100vw + 20px) auto;
    height:100%;
    transform:scaleX(1);
    width:100%
    }
    
    .about-me-info {
    background-color:var(--fc-light);
    border:none;
    border-radius:0;
    border-top:3px solid #000;
    height:fit-content;
    padding:10px 20px;
    width:100%
    }
    
    .aboutMe-conatiner {
    flex-direction:column
    }
    }